@import '../../assets/scss/variables';

.header {
    border-bottom: 1px solid $gray-line;
    padding: 40px 0;
    .container {
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        display: flex;

        svg {
            height: 53px;
            width: 38px;
            margin-right: 15px;
        }
        &-title {
            color: #181818;
            font-size: 24px;
            letter-spacing: 1%;
            text-transform: uppercase;
            font-weight: 800;
        }
        &-subtitle {
            color: #7b7b7b;
        }
    }
    &__shoppingCart {
        display: flex;
        align-items: center;
        background-color: $orange;
        color: #fff;
        border-radius: 30px;
        padding: 12px 25px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
        border: 1px solid transparent;
        &-delimiter {
          height: 25px;
          width: 2px;
          background-color: rgba(255,255,255,0.25);
          margin: 0 15px;
        }
        svg {
          height: 18px;
          width: 18px;
          margin-bottom: 4px;
        }
        &-quantity {
          margin-left: 8px;
        }
    }
}
