@font-face {
  font-family: 'Proxima Nova';
  src: url("./assets/fonts/ProximaNova-Black.eot");
  src: local("./assets/fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("./assets/fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Black.woff") format("woff"), url("./assets/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./assets/fonts/ProximaNova-Bold.eot");
  src: local("./assets/fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("./assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Bold.woff") format("woff"), url("./assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: local("./assets/fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Regular.woff") format("woff"), url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./assets/fonts/ProximaNova-Extrabld.eot");
  src: local("./assets/fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("./assets/fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Extrabld.woff") format("woff"), url("./assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
}

body {
  background-color: #ffdf8c;
}

.app {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 1 auto;
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.button,
.button span {
  color: #fff;
}

.button i,
.button span,
.button path,
.button svg {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: #f24701;
}

.button:active {
  background-color: #de4101;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}

.button--black {
  background-color: #232323;
}

.button--black:hover, .button--black:active {
  background-color: #3d3d3d;
}

.button--outline {
  background-color: #fff;
  border-color: #fe5f1e;
}

.button--outline,
.button--outline span {
  color: #fe5f1e;
}

.button--outline svg path {
  fill: #fe5f1e;
}

.button--outline:hover {
  background-color: #fe5f1e;
}

.button--outline:hover,
.button--outline:hover span {
  color: #fff;
}

.button--outline:hover svg path {
  fill: #fff;
}

.button--outline:active {
  background-color: #f24701;
}

.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}

.button--add svg {
  margin-right: 2px;
}

.button--add span {
  font-weight: 600;
  font-size: 16px;
}

.button--add:hover i {
  background-color: #fff;
  color: #fe5f1e;
}

.button--add i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}

.button--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 23px;
  padding: 12px 25px;
}

.button--cart svg {
  margin-right: 8px;
  margin-bottom: 1px;
}

.button--cart span {
  font-weight: 600;
  font-size: 16px;
}
/*# sourceMappingURL=app.css.map */